---
import type { GetStaticPaths } from "astro";
import { allTags, getBlogPostsByTag } from "@/content";
import Base from "@/layouts/Base.astro";
import BlogPosts from "@/components/BlogPosts.astro";

export const getStaticPaths = (() => {
    return allTags.map(({tag}) => {
        return {
            params: { tag: tag },
            props: { tagName: tag, posts: getBlogPostsByTag(tag) }
        };
    });
}) satisfies GetStaticPaths;

const { tagName, posts } = Astro.props;
posts.sort((a, b) => b.data.post.valueOf() - a.data.post.valueOf());
---

<Base title={`Tag for ${tagName}`} type="website">
    <h1 class="text-center">{tagName} {posts.length}件の記事</h1>
    <BlogPosts posts={posts} />
</Base>