---
import FormattedDate from "@/components/FormattedDate.astro";
import type { BlogPost } from "@/content";
import Base from "@/layouts/Base.astro";
import { Image } from "astro:assets";

import TagIcon from "@/assets/topecon-heroes-tag.svg";

type Props = BlogPost;

const { title, description, pubDate, update, tags, limited } = Astro.props;
---

<Base title={title} description={description} type="article" noindex={limited}>
	<article class="box-border p-6 my-4 border-solid border-black border-2 rounded-lg bg-gray-50">
		<div>
			<h1>{title}</h1>
			<div class="date">
				<div class="posted-on">
					投稿日: <FormattedDate date={pubDate} />
				</div>
				{
					update && (
						<div class="last-updated-on">
							最終更新日: <FormattedDate date={update} />
						</div>
					)
				}
			</div>
			<div class="tags">
				<Image src={TagIcon} alt="Tags" class="w-5 h-5 inline" />
				{tags.map((tag) => (
					<a href={`/blog/tag/${tag}`} class="tag">
						{tag}
					</a>
				))}
			</div>
			<hr />
		</div>
		<slot />
	</article>
	<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</Base>
<style>
article {
	box-shadow: 0 0 5px #444;
}
</style>
